MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_DB_NAME=moddis
MONGODB_LINKEDIN_COLLECTION=linkedin_posts
MONGODB_LINKEDIN_JOBS_COLLECTION=linkedin_jobs
LINKEDIN_COMPANY_POSTS_URL=https://www.linkedin.com/company/moddis-resources/posts/
LINKEDIN_CACHE_TTL_SECONDS=900
LINKEDIN_REQUEST_TIMEOUT_SECONDS=20
LINKEDIN_REFRESH_MAX_POSTS=10
CRON_SECRET=replace-with-a-random-secret
